/* common settings reset */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

ul {
    list-style-type: none;
}

ul li {
    list-style-type: none;
}

li img {
    vertical-align: bottom;
}

a{
    text-decoration: none;
    color: white;
}

a:link img {
    text-decoration: none;
    border: none 0px;
}

a:visited img {
    text-decoration: none;
    border: none 0px;
}

.none_adjust {
    -webkit-text-size-adjust: 100%;
}

a:link img {
    text-decoration: none;
    border: none 0px;
}

a:visited img {
    text-decoration: none;
    border: none 0px;
}
